<?xml version="1.0"?>
<module name="pmic_tw4030_cfg">

	<type>Element</type>

	<classification>Runtime</classification>

	<description>
	        <short>The utility for the PMIC TW4030 Power Management Config</short>
	        <abstract>
	                <![CDATA[Utility for the PMIC TW4030 Power Management config.]]>
	        </abstract>
	</description>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
	<contents>
		<component id="pmic_tw4030_cfg" generated="true">
			<location basedir="{os}/{cpu}/{o|endian}" runtime="true">
				pmic_tw4030_cfg
			</location>
		</component>

	</contents>
</module>
